.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  white-space: pre-wrap;
  background-color: #EEEEEE;
  padding: 16px;
  width: 39.375rem;
  margin-left: 30%;
}

pre code {
  word-break: break-word;
}

.is-invisible {
  opacity: 0;
}

.subscription-details {
  transition: opacity 1s;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


